body {
    background: #FFEAEA;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-family: 'Marvel', sans-serif;
    font-size: 18px;
}

.aboutMeImg {
    width: 100%;
    height: 200px;
    outline: 1px solid red;
}

.beckaPicture {
    width: 100%;
    height: 200px;
    outline: 1px solid green;
}