body {
    font-family: 'Marvel', sans-serif;

  }
  
  h1 {
    align-items: flex-start;
    font-size: 3.2em;
    line-height: 1.1;
    font-family: 'Major Mono Display', monospace;
  }


.title{
  text-align: center;
  border: 1px solid black;
  margin: 0;
}

  /* THIS BELOW IS HEADER RELATED.....*/
.headerWrapper {
  margin: 0;
  border: 1px solid black;
  
}

.navLogo {
border: 1px solid green;
  display: none;
}

.navItem {
  padding: 30px;
  border: 1px solid black;
  list-style-type: none;
  margin-bottom: 10px;
  text-decoration: none;
}

/* hamburgerMenu attempt */

.burgerMenu {
display: block;
position: absolute;
top: 2%;
right: 3%
}

/*mobile nav*/
.mobileNav {
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0
}

.mob-nav-item {
  position: abolute;
}

.mob-nav-list{
  border:1px solid red !important
}


@media screen and (min-width: 768px) {
  
  .headerWrapper {
    
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background: #FFEAEA;
      padding: 0;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 0 1rem;
      flex-direction: row;
    }
  
  .burgerMenu {
  display: none;
  }

  .navLogo {
    display: flex;
    align-items: flex-start;
    height: 100px;
    width: 100px;
    padding-left: 0rem;
  
  }

  .logo{
    width: 100px;
    height: auto
  }

  

  ul {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border: 1px solid black;
  }
    


.navBtn {
  background-color: none;
  border: none;
  color: none;
  accent-color: none;
}

/* hamburgerMenu attempt */

}