body {
    font-family: 'Marvel', sans-serif;

  }
  
  h1 {
    align-items: flex-start;
    font-size: 3.2em;
    line-height: 1.1;
    font-family: 'Major Mono Display', monospace;
  }

ul {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border: 1px solid black;
  }
    
li {
  border: 1px solid red;
  display: flex;
  list-style: none;
  justify-content: space-between;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 100%;
      }
    
nav {
  border: 1px solid black;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px;
        height: 5px;
        gap: 1rem;
    }
  
nav a{
/*doesn't seem to do much...*/
      display: inline-flex; 
/*keeps the nav items separate and evenly distributed*/
      margin: 0 2rem;
/*keeps the nav items without underlining*/
      text-decoration: none;
    }

.title{
  text-align: center;
  border: 1px solid black;
  margin: 0;
}

  /* THIS BELOW IS HEADER RELATED.....*/
.headerWrapper {
  margin: 0;
  border: 1px solid black;
  
}

.navLogo {
border: 1px solid green;
  display: none;
}
  

/* hamburgerMenu attempt */

.burgerMenu {
display: block;
position: absolute;
top: 2%;
right: 3%
}

/*mobile nav*/
.mobileNav{
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0
}

@media screen and (min-width: 768px) {
  
  .headerWrapper {
    
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background: #FFEAEA;
      padding: 0;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 0 1rem;
      flex-direction: row;
    }
  
  .burgerMenu {
  display: none;
  }

  .navLogo {
    display: flex;
    align-items: flex-start;
    height: 100px;
    width: 100px;
    padding-left: 0rem;
  
  }

  .logo{
    width: 100px;
    height: auto
  }

  .mob-nav-item {
    position: abolute;
  }
  
 }

.navBtn {
  background-color: none;
  border: none;
  color: none;
  accent-color: none;
}

/* hamburgerMenu attempt */

